/* Header/Blog Title */
header {
  padding: 30px;
  text-align: center;
  background: black;
  color: white;
  font-family: 'Black Ops One', sans-serif;
}

header h1 {
  font-size: 100px;
}

/* Style the top navigation bar */
nav {
  overflow: hidden;
  background: white;
  float: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
 list-style: none;
 margin: 0;
 padding: 0;
 
 display: flex;
 justify-content: space-around; /* spread links across screen*/
 align-items: center;
}

nav li {
	flex: 1;
	text-align: center;
}

nav a {
	display: block;
	color: black;
	text-decoration: none;
	padding: 20px;
	font-size: 28 px;
	font-weight: bold;
}


article h1 {
	text-align: center;
}

.guitar-brands { /*guitar brand selection*/
	display: flex;
	justify-content: space-around; /*spreading images evenly*/
	align-items: center;
	margin-top: 20px;
}

.about-us {
	text-align: center;
	font-size: 24px;
}

.contact-us  {
	margin-bottom: 10px
}

.social-media {
	display: inline-flex;
	align-items: center;
	gap: 12px;
	margin-top: 10px;
}




body {
	border: 5px solid black;
	margin: 0;
}

/*fender page css*/
.fenderstrat-models {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}

.fendertele-models {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}

.about-strat {
	text-align: center;
	font-size: 24px;
}

.about-tele {
	text-align: center;
	font-size: 24px;
}

.about-jag {
	text-align: center;
	font-size: 24px;
}

.fenderjag-models  {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}
/*gibson page css*/
.about-lespaul {
	text-align: center;
	font-size: 24px;
}

.about-es335 {
	text-align: center;
	font-size: 24px;
}

.about-sg {
	text-align: center;
	font-size: 24px;
}

.about-flyingv {
	text-align: center;
	font-size: 24px;
}



footer {
	text-align: center;
	font-size: 24px;
}

.lespaul-models {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}

.es335-models {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
} 

.sg-models  {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}

.jem-models {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
} 

.about-jem {
	text-align: center;
	font-size: 24px;
}

.js-models {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
} 

.about-js {
	text-align: center;
	font-size: 24px;
}


.about-th {
	text-align: center;
	font-size: 24px;
}


.three-models {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
} 

.about-three {
	text-align: center;
	font-size: 24px;
}

.koa-models {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
} 

.about-koa {
	text-align: center;
	font-size: 24px;
}

.academy-models {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
} 

.about-academy {
	text-align: center;
	font-size: 24px;
}

.gibsonlh-models {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
} 

.fenderlh-models {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
} 

.taylorlh-models {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
} 


